# colcon artifacts
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# temp
*.swp
*.swo
out/
outputs/

# Build artifacts and generated outputs
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.csv
*.log
*.tar
*.zip

# Editor and OS junk
.DS_Store
.idea/
.vscode/
.ipynb_checkpoints/


# Editor backups
*~
*.swp


report/meljahmi_RBE550_ProjectFinalSubmission.docx
report/*.docx
report/*.docx
